In [1]:
# !pip install pandas

Requirement already satisfied: pandas in /Users/mohit/opt/anaconda3/lib/python3.8/site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /Users/mohit/opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /Users/mohit/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/mohit/opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/mohit/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Series
- labelled array(list)

In [10]:
book_title = ['C++', 'Java', 'Python']

In [11]:
book_title = pd.Series(data=book_title)
book_title

0       C++
1      Java
2    Python
dtype: object

In [12]:
type(book_title)

pandas.core.series.Series

In [14]:
book_title[2]

'Python'

In [15]:
book_title.index = ['a', 'b', 'c']

In [16]:
book_title

a       C++
b      Java
c    Python
dtype: object

In [18]:
book_title['b']

'Java'

## DataFrame
 - multiple series forms a DF

In [21]:
arr = np.random.randint(10, 100, size= (6, 4))
arr

array([[89, 59, 69, 60],
       [78, 50, 78, 11],
       [67, 97, 34, 41],
       [96, 74, 34, 98],
       [51, 57, 10, 46],
       [50, 42, 28, 79]])

In [23]:
df = pd.DataFrame(data=arr, )
df

    0   1   2   3
0  89  59  69  60
1  78  50  78  11
2  67  97  34  41
3  96  74  34  98
4  51  57  10  46
5  50  42  28  79

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.columns =  ['A', 'B', 'C', 'D']

In [26]:
df

    A   B   C   D
0  89  59  69  60
1  78  50  78  11
2  67  97  34  41
3  96  74  34  98
4  51  57  10  46
5  50  42  28  79

In [29]:
# extract whole column - B
df['B']

0    59
1    50
2    97
3    74
4    57
5    42
Name: B, dtype: int64

In [30]:
type(df['B'])

pandas.core.series.Series

In [31]:
df['D']

0    60
1    11
2    41
3    98
4    46
5    79
Name: D, dtype: int64

In [34]:
df[2]

KeyError: 2