# Built-In Data Structures
- List
- tuple
- set
- dictionary
- functions

### LIST

In [13]:
# arr = list()
arr = []

In [14]:
type(arr)

list

'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

In [22]:
arr.append(1)
print(arr)

[1]

In [23]:
arr.append(2)

In [24]:
arr

[1, 2]

In [18]:
arr.clear()

In [19]:
print(arr)

[]

In [26]:
arr.count(2)

1

In [37]:
arr1 = [1,2,3,4]
arr2 = [5,6,7,8]

arr1.extend(arr2)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5, 6, 7, 8]
8

In [38]:
arr1 = [1,2,3,4]
arr2 = [5,6,7,8]

arr1.append(arr2)
print(len(arr1))

5

In [34]:
arr1

[1, 2, 3, 4, [5, 6, 7, 8]]

In [36]:
len(arr1)

5

In [49]:
arr = [1,2,3,4,5,6]

print(arr[5])

6

In [59]:
arr[10]

IndexError: list index out of range

In [60]:
# arr[len(arr) -1]
arr[-6]

1

In [66]:
arr = [1,2,3, [[10,20,30], 5, 6]]

In [70]:
arr[3][0][1]

20

In [73]:
arr = [1,2,3,4,5,6,7,8,9]

for i in range(len(arr)):
    print(arr[i], end=" ")

1 2 3 4 5 6 7 8 9

In [77]:
for ele in arr:
    print(ele, end=" ")

1 2 3 4 5 6 7 8 9

In [79]:
arr = [[0, "Manu"], [1, "Mohit"], [2, "Aayush"], [3, "Abhishek"]]

for i in arr:
    for j in i:
        print(j, end=" ")
    print()

for ele in arr:
    print(ele[0], ele[1])

0 Manu
1 Mohit
2 Aayush
3 Abhishek
0 Manu
1 Mohit
2 Aayush
3 Abhishek

In [82]:
arr[0][1] = [1,2,3]

In [83]:
for ele in arr:
    print(ele[0], ele[1])

0 [1, 2, 3]
1 Mohit
2 Aayush
3 Abhishek

### TUPLE

In [84]:
# tup = tuple()
tup = ()
print(type(tup))

<class 'tuple'>

In [86]:
arr = [1,2,3]
tup = (1,2,3)

In [87]:
type(arr), type(tup)

(list, tuple)

In [88]:
tup = ()

In [89]:
print(type(tup))

<class 'tuple'>

In [96]:
arr = [1]
print(type(arr))

<class 'list'>

In [97]:
tup = (1)
print(type(tup))

tup = (1,)
print(type(tup))

<class 'int'>
<class 'tuple'>

In [98]:
tup = (1,2,3,4)
arr = [1,2,3,4]

arr[0] = 100
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = (1,2)
tup = (10, 20)

In [107]:
a = 1
b = 1

In [108]:
a == b

True

In [109]:
a is b

True

In [110]:
a = []
b = []

a is b

False

In [112]:
a = 100000000000000
b = a

a is b

True

In [113]:
a = [1,2,3]
b = a

a[0] = 10

print(b)

[10, 2, 3]

In [123]:
arr = [1,2,3,4,5,6,7,8,9,10]

arr[0:5] # arr[start: stop-1]

arr[0:5:2] #arr[start:stop-1:step] #by default arr[0:len(arr):1]

[1, 3, 5]

In [124]:
arr[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [125]:
arr[0] = 1000

In [126]:
arr[:5:2] = [1000, 2000, 3000]

In [127]:
arr

[1000, 2, 2000, 4, 3000, 6, 7, 8, 9, 10]

In [129]:
a = [1,2,3]
b = a
a[0] = 100
print(b)

[100, 2, 3]

In [130]:
a = [1,2,3]
b = a.copy()
a[0] = 100
print(b)

[1, 2, 3]

In [131]:
a = [[10,20,30], 2, 3]

b = a.copy()

a[0][0] = -1
print(b)

[[-1, 20, 30], 2, 3]

In [134]:
a = (10, 20)
# a = "manu"

In [135]:
b = (10, 20)

In [138]:
a is b

False

### Dictionary

In [139]:
# d = dict()
d = {}

In [140]:
type(d)

dict

In [150]:
d = {"manu":9899, "junaid":8130, "abhi":8723, "anshul":7843, (1,2):20, 1:100, [1,2]:100}

TypeError: unhashable type: 'list'

In [153]:
a = (1,2)

d = {a:"value"}

In [154]:
d[a]

'value'

In [166]:
a = 10

In [167]:
d[a] = 10

In [169]:
d

{(1, 2): 10, 10: 10}

In [168]:
d[10]

10

In [159]:
d[(1,2)]

'value'

In [149]:
d[1]

100

In [145]:
d["manu"], d["anshul"]

(9899, 7843)

In [144]:
st = "manu"

st[0] = "k"

TypeError: 'str' object does not support item assignment

In [161]:
a = (1,2)

In [162]:
id(a)

1224806630280

In [ ]:
a = 10

In [163]:
id((1,2))

1224806158216

In [170]:
d = {}

a = (10, 2)

d[a] = "tuple"

a = 10
d[a]

KeyError: 10

In [172]:
d, a

({(10, 2): 'tuple'}, 10)

In [173]:
d[a] = "integer"

In [175]:
d[0] = 5

In [177]:
d[(10, 2)] = "manu"

In [178]:
d[(10, 2)]

{(10, 2): 'manu', 10: 'integer', 0: 5}

In [180]:
for item in d.items():# [(key1, value1), (key2, value2)...]
    print("key:", item[0], "value:", item[1]) 
    # print(type(item))

key: (10, 2) value: manu
key: 10 value: integer
key: 0 value: 5

In [184]:
for key in d.keys(): #[key1, key2, key3,...]
    # print(type(key))
    print("key:", key)

for value in d.values():#[value1, value2, value3,....]
    print("value:", value)

<class 'tuple'>
key: (10, 2)
<class 'int'>
key: 10
<class 'int'>
key: 0
value: manu
value: integer
value: 5

### Sets

In [195]:
# s = set()

s = {1,2,3,4,5}

In [196]:
type(s)

set

'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update'

In [202]:
s.add(10)
s
s.add(10.0)
s

{1, 2, 3, 4, 5, 10, 10.1}

In [2]:
import time

In [6]:
arr = [0] * 100000000
arr[-1] = 1

st = time.time()
if 1 in arr:
    print("found")
print(time.time() - st, "seconds passed")

found
1.4530515670776367 seconds passed

In [8]:
s = set()
for i in range(100000000):
    s.add(i)

In [9]:
st = time.time()
if (100000000-1) in s:
    print("found")
print(time.time() - st, "seconds passed")

found
0.0011544227600097656 seconds passed

### Functions

In [11]:
def func():
    print("Manu")

func()

Manu

In [12]:
def func1(a, b=10):
    print(a+b)

func1(10, 20)
func1(10)

30
20

In [24]:
def func2(*args):
    s = 0
    print(type(args))
    # print(s+sum(args))

In [25]:
func2(10, 20, 30, "Manu")
func2()

<class 'tuple'>
<class 'tuple'>

In [26]:
def func2(*ramu):
    s = 0
    print(type(ramu))
    # print(s+sum(args))

In [27]:
func2(10, 20, 30, "Manu")
func2()

<class 'tuple'>
<class 'tuple'>

In [28]:
def func3(a, b, c):
    print(a+b+c)

In [29]:
func3(1,2,3)

6

In [30]:
func3(c=3, b=2, a=1)

6

In [31]:
func3(c=3, b=2, 1)

SyntaxError: positional argument follows keyword argument (<ipython-input-31-9332c383b543>, line 1)

In [37]:
func3(1, 3, c=2)

6

In [44]:
d = {"a":1, "b":2, "c": 3}
val = -1
print(d.get("e", val))

-1

In [45]:
def func4(*args, **kwargs):

    if kwargs.get("c") != None:# if kwargs["c"]:
        print("provided")
    else:
        print("not provided")
        return None
    print(args)
    print(kwargs)

In [47]:
func4(1,2,3,4,5, a = 10, b=20, d=30)

not provided

In [54]:
def func(a,b,c):
    return a+b+c

def func1(*args, **kwargs):
    print(args)
    print(kwargs)
    for key in kwargs.keys():
        kwargs[key] += 10
    print(kwargs)
    return func(*args, **kwargs)

In [55]:
func1(a=1,b=2,c=3)

()
{'a': 1, 'b': 2, 'c': 3}
{'a': 11, 'b': 12, 'c': 13}

36

In [56]:
tup = (1,2,3)
d = {"a":1, "b":2, "c":3}

In [58]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

In [65]:
# func(*tup)

func(**d)

()
{'a': 1, 'b': 2, 'c': 3}

In [70]:
print(*tup)

1 2 3

In [72]:
list(tup)

[1, 2, 3]

In [73]:
list(*tup)

TypeError: list() takes at most 1 argument (3 given)

In [83]:
def func(a, b, c, *args):
    print(a, b, c)
    # print(args)

In [84]:
func(*tup)

func(**d)

1 2 3
1 2 3

In [91]:
tup = (1,2,3)

# a = tup[0]
# b = tup[1]
# c = tup[2]

a, b, c = tup

In [92]:
a, b, c

(1, 2, 3)

In [95]:
a, b = tup[:-1]

In [96]:
a, b

(1, 2)

In [97]:
a is tup[0]

True

In [98]:
d

{'a': 1, 'b': 2, 'c': 3}

In [100]:
for key, val in d.items():# [(key1, value1), (key2, value2)...]
    print("key:", key, "value:", val)

key: a value: 1
key: b value: 2
key: c value: 3

In [111]:
def func(val, arr=[]):
    arr.append(val)
    print(arr)

def func2(val, a = 10):
    print(val, a)


# func(10, [2,3,4])
# func(1000000)
# func(2000000)
# # func(30)

# func2(1, 2)
# func2(3)
# func(3000000)

In [112]:
func(10000000)

[10000000]

In [113]:
func(2000000)

[10000000, 2000000]

In [114]:
func(3023901298309)

[10000000, 2000000, 3023901298309]