In [1]:
# !pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /Users/mohit/opt/anaconda3/lib/python3.8/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /Users/mohit/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=e4db6209f94f24a9546c83022ce8b32f21da547704ca64b4aecbaf5468748550
  Stored in directory: /Users/mohit/Library/Caches/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [84]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages")

In [9]:
soup = BeautifulSoup(res.text)

In [10]:
type(soup)

bs4.BeautifulSoup

In [12]:
soup.title

In [30]:
all_tables = soup.find_all('table', attrs= {"class" : "wikitable"} )

In [31]:
len(all_tables)

25

In [34]:
one_table = all_tables[0]

In [56]:
all_rows = one_table.find_all('tr')[1:]

In [57]:
# all_headings = all_rows[0].find_all('th')

In [63]:
one_country = all_rows[0].find_all('td')

In [66]:
one_country[1].text

'Kabul'

In [69]:
one_country[-1].text

'Pashto/Dari(Arabic script)\n'

In [71]:
one_country[0].text

' Afghanistan'

In [76]:
img_src = one_country[0].find('img').attrs['src']

#### print all A country details

In [81]:
for row in all_rows:
    col = row.find_all('td')
    country = col[0].text
    capital = col[1].text
    language = col[-1].text
    img_src = col[0].find('img').attrs['src']
    
    print(country, capital, language)

 Afghanistan Kabul Pashto/Dari(Arabic script)

 Albania Tirana Albanian

 Algeria Algiers Berber language(Tifinagh script)Arabic(Arabic script)

 American Samoa[1] Pago Pago SamoanEnglish

 Andorra Andorra la Vella Catalan

 Angola Luanda Portuguese Kongo

 Anguilla[2] The Valley English

 Antigua and Barbuda Saint John's English

 Argentina Buenos Aires Spanish

 Armenia Yerevan Armenian(Armenian alphabet)

 Aruba[3] Oranjestad Dutch, Papiamento

 Australia Canberra English/ Aboriginal native languages

 Austria Vienna German

 Ã…land Islands[4] Mariehamn SwedishFinnish

 Azerbaijan Baku Azerbaijani

### Print All Countries Details

In [93]:
df = pd.DataFrame({}, columns=['Country', 'Capital', 'Language'] )

In [94]:
df

Empty DataFrame
Columns: [Country, Capital, Language]
Index: []

In [96]:
for one_table in all_tables:
    all_rows = one_table.find_all('tr')[1:]
    for row in all_rows:
        col = row.find_all('td')
        country = col[0].text
        capital = col[1].text
        language = col[-1].text
        img_src = col[0].find('img').attrs['src']
        
        df = df.append({'Country' : country, "Capital" : capital, "Language" : language},ignore_index=True, )
        
        #print(country,"======",capital,"======", language)

In [107]:
df['Language'] = df['Language'].apply(lambda x: x[:-1])

In [108]:
df

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari(Arabic script
1,Albania,Tirana,Albania
2,Algeria,Algiers,Berber language(Tifinagh script)Arabic(Arabic ...
3,American Samoa[1],Pago Pago,SamoanEnglis
4,Andorra,Andorra la Vella,Catala
...,...,...,...
237,Vietnam,Hanoi,Vietnames
238,Wallis and Futuna[10],Mata Utu,FrenchWallisianFutuna
239,Yemen,Sana'a,Arabic(Arabic script
240,Zambia,Lusaka,"English, Bemba, Chew"
241,Zimbabwe,Harare,"English, Shon"

In [112]:
df.head()

,Country,Capital,Language
0,Afghanistan,Kabul,Pashto/Dari(Arabic script
1,Albania,Tirana,Albania
2,Algeria,Algiers,Berber language(Tifinagh script)Arabic(Arabic ...
3,American Samoa[1],Pago Pago,SamoanEnglis
4,Andorra,Andorra la Vella,Catala

In [117]:
" New Zea    ".strip()

'New Zea'

In [119]:
df['Country'] = df['Country'].apply(lambda x: x.strip())

In [120]:
df.to_csv("countries.csv", index = False)

#### Assigment  - remove [1] from Country column

In [109]:
import re

In [110]:
# re.sub("")