In [1]:
print("Hello Python")

Hello Python

In [2]:
print("Learning Data Science")

Learning Data Science

In [3]:
# Shift + enter
print("Hello again!!!")

Hello again!!!

# Learn Python

## Heading 2

### Heading 3

- Learn Python
- Learn ML
- Learn Data Science
- Learn Deep Learning

In [4]:
print("Deep Learning is fun.")

Deep Learning is fun.

In [6]:
# this is a comment
print("Hello world")

Hello world

In [7]:
a = 10
print(a)

10

In [8]:
n = 1

In [11]:
type(a)

int

In [12]:
float_var = 5.6
type(float_var)

float

In [13]:
new_var = False
type(new_var)

bool

In [14]:
str_var = "This is a string..........."
type(str_var)

str

In [17]:
no1 = 6
no2 = 4

In [21]:
print(no1 + no2)
print(no1 - no2)
print(no1 * no2)
print(no1 / no2)
print(no1 // no2) # ---> floor division
print(no1 ** no2) # ---> power

10
2
24
1.5
1
1296

In [28]:
var = '78'
type(var)

str

In [30]:
# Typecasting
var_int = int(var)
type(var_int)

int

In [31]:
str(7.8)

'7.8'

In [33]:
int(True)

1

In [60]:
print(8==9)
print(2<=4)
print(4!=5)
print((3<5) and (6>4))
print((3<1) or (4>20))
print(not (3<5))

False
True
True
True
False
False

In [62]:
not False

True

### Conditional Statements

In [42]:
i = 7

if (i >= 10):
    print("i is greater than 10")
    print("i m inside if block")
elif(i < 5):
    print("i is less than 5")
else:
    print("i is between 5 and 10") 
    print("i m inside else")

i is between 5 and 10
i m inside else

# Loops
- while
- for

In [50]:
i = 0

while(i<=10):
    print(i, end=" ")
    i= i +1

0 1 2 3 4 5 6 7 8 9 10

In [49]:
print?

In [75]:
#  for-in
for i in range(15, 5, -2):
    print(i, end=" ")

15 13 11 9 7

In [70]:
# 
range(15)

range(0, 15)

In [71]:
range?

In [80]:
inp = input("Enter your fav. language : ")

Enter your fav. language : python

In [81]:
inp

'python'

In [90]:
num1 = int( input("Enter number 1 : ") )
num2 = int( input("Enter number 2 : ") )

Enter number 1 : 8
Enter number 2 : 4

In [91]:
type(num2)

int

In [92]:
num1 + num2

12

In [84]:
"hello " + "world"

'hello world'

In [85]:
"hello " * "world"

TypeError: can't multiply sequence by non-int of type 'str'

In [86]:
"hello " + 4

TypeError: can only concatenate str (not "int") to str

In [87]:
"hello" * 3

'hellohellohello'

In [93]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

In [94]:
int('x')

ValueError: invalid literal for int() with base 10: 'x'

In [ ]:
n = 6
# *
# **
# ***
# ****
# *****
# ******

In [98]:
n = int(input())
for i in range(1,n+1):
    for j in range(0,i):
        print("*",end = '')
    print(end = '\n')

6
*
**
***
****
*****
******

In [101]:
for i in range(1, n + 1):
    print( "*"*i )

6
*
**
***
****
*****
******

In [102]:
#      *
#     ***
#    *****
#   *******
#  *********

In [106]:
n = int(input())
for i in range(n):
    print(" "*(n-i-1)+ "*"*(2*i+1))

5
    *
   ***
  *****
 *******
*********

## Functions

In [143]:
# definition

def greeter(name):
    return "Hello " + name

def greeter(name=None):
    if name is None:
        print("Please input a name..")
    else:
        print("Hello", name)

In [144]:
greeter("Moon")

Hello Moon

In [145]:
greeter()

Please input a name..

In [139]:
# printing multiple objects
print("hello", 5-6, False or True)

hello -1 True

# Built-In Data Structures
- List
- tuple
- set
- dictionary
- functions